body{
    margin: 0px;
    font-family: Arial, sans-serif;
    font-weight: bold;
}
#container{
    text-align: center;
    background-color: rgb(193, 193, 203);    
    margin-left:25%;
    margin-right: 25%;
    padding: 5px;
    border-radius: 5px;
}

#container div{
    color: blacks;
}
input{
max-width:auto;
font-family:Arial,sans-serif ;
font-weight: bold;
}
button{
    padding: 4px;
    text-align: center;
    border-radius: 3px;
    font-family:Arial,sans-serif ;
    
    font-weight: bold;
    border: none;
    background-color: rgb(7, 88, 7);
}
button:hover{
      background-color: rgb(38, 116, 38);
      cursor: pointer;
}
button:active{
    
      background-color: rgb(188, 195, 188); 
}
